.container {
  background: rgb(var(--gray-100));
  box-shadow: 0 1px 2px 0 rgb(var(--gray-400) / 25%);
  position: fixed;
  width: 100%;
  z-index: 100;
}

.containerInner {
  display: flex;
  gap: 0.25rem;
  justify-content: center;
  padding: 0.5rem 0;
}

@media (width >= 48rem) {
  .containerInner {
    justify-content: flex-end;
    margin: 0 auto;
    max-width: 48rem;
  }
}
