.container {
  display: flex;
  gap: 1rem;
  justify-content: center;
  margin: 1rem 0 0;
  padding: 0 0 1rem;
}

.link {
  color: rgb(var(--gray-400));
  text-decoration: underline;
  transition: color 0.2s;
}

.link:active,
.link:focus-visible {
  color: rgb(var(--gray-600));
}

@media (any-hover: hover) {
  .link:hover {
    color: rgb(var(--gray-600));
  }
}
